<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home age</title>
</head>
<body>
    <h1>This is the home page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate aperiam qui inventore, itaque dolor obcaecati error, numquam unde nisi nam perferendis neque, consequatur cumque possimus accusantium provident? Mollitia, repudiandae cum.
    </p>    
    <button>click me!</button>
</body>
</html>