<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= ["Hello", "bonjour", "namaste"][0] %></h1>
    <p>Num<%= username%></p>
    <p>ID is <%=id%></p>
    <button>Follow</button>
    <button>Message </button>   
</body>
</html>